html, body {
    margin: 0px;
    height: 100%;
} 

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d44c86;
    background: url(assets/bg_horizontal.png) no-repeat center center fixed;
    background-size: cover;
  }

  body.clean {
    background: url(assets/bg_horizontal_clean.png) no-repeat center center fixed;
    background-size: cover;
  }

  @media only screen and (max-width: 600px) {
    body {
      background: url(assets/bg_vertical.png) no-repeat center center fixed;
      background-size: cover;
    }
  }

  a {
    color: inherit;
  }

  a:hover {
    color: #ff4db3;
  }
 
  .container {
    position: relative;
    height: 100%;
  }

  .hero-text {
    margin-top: 4px;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
  }

  .sub-hero-text {
    margin-top: 4px;
    font-size: 18pt;
    font-weight: bolder;
    text-align: center;
  }

#buttons-container {
    margin-top: 4px;
    margin-left: auto; 
    margin-right: 32px;
    display: flex;
    justify-content: flex-end
}

.hero-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-demo {
  background-color: #4CAF50;
}

.button-wallet {
  background-color: #f37209;
}

.logo-image {
  width: 272px;
  position: fixed;
}

  #virus-logo-id {
    left: 50px;
    top: 250px;
    display: none;
  }

  #vaccine-logo-id {
    right: 50px;
    bottom: 40px;
    display: none;
  }

  @media only screen and (max-width: 600px) {
    .logo-image {
      width: 128px;
      position: relative !important;
      margin-left: auto !important;
      margin-right: auto !important;
      left: auto !important;
      top: auto !important;
      right: auto !important;
      bottom: auto !important;
    }
  }

  .footer {
    font-size: 12pt;
    position: relative;
    padding-bottom: 8px;
    left: 0;
    bottom: 12px;
    width: 100%;
    text-align: center;
  }

  .game-stats-container {
    position: absolute;
    padding-top: 8px;
    padding-left: 16px;
  }

  @media only screen and (max-width: 600px) {
    .game-stats-container {
      position: relative !important;
      padding-top: 8px;
      padding-left: 16px;
    }
  }

  .game-stats {
    font-size: 11pt;
    margin-right: 16px;
  }
  
   .team-cards-container {
    font-size: 14pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    width: 50%;
    height: 50%;  
  }

  .team-card {
    width: 100%;
    margin-bottom: 16px;
  }

  .team-card div {
    text-align: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .team-card div:nth-of-type(1) {
    font-weight: 900;
    font-size: 72pt;
  }

  .fa-house {
    font-weight: 900;
    font-size: 18pt;
  }

  .game-rules {
    margin-top: 32px;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 14pt;
    /* backdrop-filter: blur(10px); */
  }

  #infographics-img {
    width: 100%;
    height: auto; 
    object-fit: contain;
  }